h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 114, 37);
    
}
body{
background-color: rgb(248, 242, 236);
background-image: url(cabecalhos_back.png);
background-repeat: repeat-y;
padding: 0px 150px 150px 150px;
text-align: left;
font-family:  'Times New Roman', Times, serif;
font-style: normal;
text-indent: 50px;


}
hr{
    border-style: dashed;
    color: rgb(165, 114, 37);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 114, 37);
}

h3{
    border: solid;
    border-color: rgb(219, 159, 70);
    background-color: rgb(219, 159, 70);
    color: rgb(255, 255, 255);
    
}

